<div class="panel panel-primary">
  <div class="panel-heading">Step 3. Precheck result</div>
  <div class="panel-body">Please see the precheck result and push 'Confiture' button.</div>
  <table class="table">
    <tbody>
      <tr class="success">
        <th>Existing configuration</th>
        <td>None</td>
      </tr>
      <tr class="success">
        <th>Active alarms</th>
        <td>None</td>
      </tr>
      <tr class="success">
        <th>Performance Monitor</th>
        <td>OK</td>
      </tr>
    </tbody>
  </table>
  <div class="panel-footer">
    <button type="button" class="btn btn-primary" ng-click="precheckConfirmed = true">Configure</button>
  </div>
</div>
