<div class="panel panel-primary">
  <div class="panel-heading">Step 1. Select order</div>
  <div class="panel-body">
    Please check the order details<br/>Search: <input ng-model="query">
    <nav>
      <ul class="pagination">
        <li ng-class="{disabled:table.isFirstPage()}">
          <a ng-click="table.isFirstPage() || table.prevPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
        <li ng-repeat="(i, item) in table.items | filter:query | filter:table.pager" ng-class="{active:table.isPage(i)}">
          <a ng-click="table.page=i">{{ i+1 }}</a>
        </li>
        <li ng-class="{disabled:table.isLastPage((table.items | filter:query))}">
          <a ng-click="table.isLastPage((table.items | filter:query)) || table.nextPage()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> <!-- panel-body -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in table.items | filter:query | limitTo:5:table.page*5" ng-class="{active:table.isSelectedItem(item)}" ng-click="table.setSelectedItem(item)">
        <td>{{ item.number | number}}</td>
        <td>{{ item.first }}</td>
        <td>{{ item.second }}</td>
        <td>{{ item.third }}</td>
        <td>{{ item.fourth }}</td>
      </tr>
    </tbody>
  </table>
</div><!-- panel -->

