<h1 class="page-header">Dashboard</h1>

<div ng-init="items = []; orderConfirmed = false">
  <dashboard-table selected-items="items"></dashboard-table>

  <div dashboard-details
    class="dashboard-panel"
    ng-show="items && items.length === 1"
    item="items[0]"
    order-confirmed="orderConfirmed">
  </div>

  <div dashboard-list
    class="dashboard-panel"
    ng-show="items && items.length > 1"
    items="items"
    order-confirmed="orderConfirmed">
  </div>

  <div dashboard-precheck
    class="dashboard-panel"
    ng-show="orderConfirmed"
    show-flag="orderConfirmed"
    precheck-confirmed="precheckConfirmed">
  </div>

  <div dashboard-configuration
    class="dashboard-panel"
    ng-show="precheckConfirmed"
    show-flag="precheckConfirmed"
    configuration-confirmed="configurationConfirmed">
  </div>

  <div dashboard-postcheck
    class="dashboard-panel"
    ng-show="configurationConfirmed"
    show-flag="configurationConfirmed">
  </div>
</div>
