<div class="table-responsive">
  Search: <input ng-model="query">

  <nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="(i, item) in table.items"><a href="#">{{ i }}</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in table.items | filter:query | limitTo:5:1">
        <td>{{ item.number | number}}</td>
        <td>{{ item.first }}</td>
        <td>{{ item.second }}</td>
        <td>{{ item.third }}</td>
        <td>{{ item.fourth }}</td>
      </tr>
    </tbody>
  </table>
</div>
