<div class="panel panel-primary" ng-init="currentPage = 1; pageSize = 5">
  <div class="panel-heading">Step 1. Select order</div>
  <div class="panel-body">
    Please check the order details<br/>Search: <input ng-model="query">

  <div paging
    class="small"
    page="currentPage" 
    page-size="pageSize" 
    total="(items | filter:query).length"
    pg-href="#GotoPage-{page}"
    show-prev-next="{{showPrevNext}}"
    show-first-last="{{showFirstLast}}"
    text-first="&laquo;"
    text-last="&raquo;"
    text-next="&rsaquo;"
    text-prev="&lsaquo;"
  </paging>   

  </div> <!-- panel-body -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr
         ng-repeat="item in items | filter:query | limitTo:pageSize:(currentPage-1)*pageSize"
         ng-class="{active:$parent.isSelectedItem(item)}"
         ng-click="$parent.setItem(item)">
        <td>{{ item.number | number}}</td>
        <td>{{ item.first }}</td>
        <td>{{ item.second }}</td>
        <td>{{ item.third }}</td>
        <td>{{ item.fourth }}</td>
      </tr>
    </tbody>
  </table>
</div><!-- panel -->

